<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="bike" class="edu.miu.ea.springbeans.Bike"></bean>
    <bean id="car" class="edu.miu.ea.springbeans.Car"></bean>
    <bean id="carGame" class="edu.miu.ea.springbeans.Game">
        <constructor-arg ref="car"></constructor-arg>
    </bean>
    <bean id="bikeGame" class="edu.miu.ea.springbeans.Game">
        <constructor-arg ref="bike"></constructor-arg>
    </bean>
</beans>